.container {
    margin-top: 70px;
}

nav {
    height: 60px;
}

.navbar-toggler, .profile-img {
    display: none;
}

footer {
    margin-left: 0%;
}

@media (min-width: 992px) {
    nav .d-flex {
        visibility: hidden;
    }
}